@charset "utf-8";
/* CSS Document */

#container {margin-top: 50px; margin-left: 100px; margin-right: 100px}
h1, h2, h3, h4 {background-color: #B9E7D7; color: #1E1E3E; border: 1px; padding: 10px}
a {color: black; text-decoration: none}
a.hover {color: white}
a.visited {color: #326062}
