@charset "utf-8";
/* CSS Document */
h1 {
	text-align: center
}
div.image-galary {
	margin-top: 10%
}
h3 {
	text-align: center
}
figure {
	text-align: center
}
figcaption {
	font-style: italic
}
div.grid-container {
	display: grid; 
	padding: 10px; 
	grid-template-columns: auto auto auto
}
div.grid-item {
	border: 1px solid #000000;
	padding:20px;  
	align-content: center
}
footer {
	position:fixed; 
	bottom: 0px; 
	right: 0px; 
	padding-right: 30px; 
	padding-bottom: 10px
}
