@charset "utf-8";
/* CSS Document */

h1 {text-align: center}
div.left {width: 45%; float: left; border: 1px solid #FF0004; border-radius: 15px; padding: 10px}
div.right {width: 45%; float: right; border: 1px dashed #FF0004; border-radius: 15px; padding: 10px}
div.final {width: 100%; margin-top: 60%}
h3 {font-weight: 500}
li {font-weight: 300}
ul {list-style: upper-roman}
div.last {float: right; margin-bottom: 20px}
footer {position:fixed; bottom: 0px; right: 0px; padding-right: 30px; padding-bottom: 10px}